*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
}

// html {}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  background-color: #ffffff;
}
