// Colors
$white: #ffffff;
$black: #000000;
$almost-black: #111111;
$base-color-text: #444444;
$slide-bar: #666666;
$special-dark-grey: #222222;
$border-special: #cdcdcd;
$border-form: #e7e7e7;
$border-error: #ff8282;
$footer-line: #d9d9d9;

// Backgrounds
$bg-cats: rgba(104, 183, 56, 0.85);
$bg-basic: #68b738;
$bg-basic-state: #5eaa2f;
$bg-extra: #f2f2f2;
$bg-for-example: #eaeaea;
