// Fonts
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Fonts and general colors
$white: #ffffff;
$black: #000000;
$almost-black: #111111;
$base-color-text: #444444;
$special-dark-grey: #222222;

// Additional colors
$border-color: #d9d9d9;
$special-grey: #666666;

// Backgrounds
$bg-cats: rgba(104, 183, 56, 0.85);
$bg-basic: #68b738;
$bg-extra: #f2f2f2;
$bg-state: #5eaa2f;
$bg-for-example: #eaeaea;

//media-variables
$mobile-width-only: 767.98px;
$tablet-width: 768px;
$desktop-width: 1440px;
