// .advantages {}

// .advantages__container {}

// .advantages__title {}

// .advantages__list {}

.advantages__item {
  position: relative;

  padding-left: 80px;
}

.advantages__item:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $bg-basic;
  background-image: url("../../images/icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
  transform: translateY(-50%);
}

.advantages__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $bg-basic;
  background-image: url("../../images/icons/stack.svg#powder");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
  transform: translateY(-50%);
}

.advantages__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $bg-basic;
  background-image: url("../../images/icons/stack.svg#food");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
  transform: translateY(-50%);
}

.advantages__item:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $bg-basic;
  background-image: url("../../images/icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
  transform: translateY(-50%);
}
