.button {
  display: inline-block;
  padding: 10px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-basic;
  border: none;

  &:hover,
  &:focus {
    background-color: $bg-state;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--secondary {
    color: $base-color-text;

    background-color: $bg-extra;
  }
}
