// .card {}

// .card__image {}

// .card__content-wrapper {}

.card__link {
  display: inline-block;

  text-decoration: none;
}

.card__heading {
  margin: 0;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-grey;
  text-transform: uppercase;
}

// .card__details {}

.card__details-item {
  font-size: 12px;
  line-height: 16px;
}

// .card__details-text {}

// .card__details-value {}

// .card__button {}

// .card__text
