.catalog__title {
  padding: 27px 0 41px;

  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 78px 0 96px;

    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px;
  }
}

.catalog__list {
  position: relative;

  display: grid;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;

    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;

    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 100vw;
      height: 1px;

      background-color: $catalog-color;
      box-shadow: 100vw 0 0 $catalog-color;
    }
  }
}

.catalog__card {
  position: relative;

  &::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 100vw;
      height: 1px;

      background-color: $catalog-color;
      box-shadow: 100vw 0 0 $catalog-color;
    }
  }
}
