// .catalog {}


.catalog__container {

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.catalog__title {
  margin-bottom: 41px;
  padding: 27px 20px 0;

  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.catalog__list {
  display: grid;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $catalog-color;
  }

  @media (min-width: $tablet-width) {
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 80px 63px;
    grid-template-columns: repeat(4, 1fr);
    ;
  }
}

// .catalog__card {}
