.control {
  display: grid;

  row-gap: 13px;
}

.control--radio {
  position: relative;

  padding: 22px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 23px 27px 27px;

    border: 1px solid $input-border-color;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 100vw;
    height: 1px;

    background-color: $border-color;
    box-shadow: 100vw 0 0 $border-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 1px;

    background-color: $border-color;
    box-shadow: 100vw 0 0 $border-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.control--checkbox {
  @media (min-width: $tablet-width) {
    gap: 32px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 10px 77px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.control__item {
  display: grid;
  align-items: center;
  width: fit-content;

  grid-template-columns: repeat(2, auto);
}

.control__input {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 0;

  background-color: $white;
  border: var(--border-line);

  appearance: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    border-color: #bababa;
  }
}

.control__input[type="checkbox"]:checked {
  background-image: url("../../images/icons/stack.svg#tick-checkbox");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}

.control__input[type="radio"] {
  border-radius: 50%;
}

.control__input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 15px;
  height: 15px;

  background-color: $bg-basic;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.control__input:disabled,
.control__input:disabled + .control__label {
  opacity: 0.3;
}

.control__label {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}
