.contacts {
  background-color: $bg-basic-grey;
}

// .contacts__container {}

.contacts__container--index {
  background-color: #ffffff;
}

// .contacts__wrapper {}

.contacts__invitation {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

// .contacts__adress--city {}

// .contacts__map {}

// .contacts__map-link {}
