.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;

  fill: $special-grey;

  @media (min-width: $tablet-width) {
    padding: 0;

    gap: 23px;
  }

  &:hover,
  &:focus {
    fill: $bg-basic;
  }

  &:active {
    opacity: 0.3;
  }
}
