.copyright {
  display: flex;
  padding-top: 20px;

  text-decoration: none;

}

.copyright__text {
  margin: auto;
  margin-left: 0;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}

.copyright__image {
  background-color: #666666;

  mask-image: url("../../images/icons/stack.svg#html-academy-logo");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}
