.copyright {
  text-decoration: none;
}

.copyright__text {
  display: inline-block;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}

.copyright__image {
  // background-color: #666666;
  mask-image: url("../../images/icons/stack.svg#html-academy-logo");
  mask-position: center, contain;
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}
