.example {
  padding: 25px 0 40px;

  background-color: $bg-for-example;

  @media (min-width:$tablet-width) {
    padding: 45px 0 101px;

    background-image: linear-gradient($white 638px, $bg-for-example 462px);
  }

  @media (min-width:$desktop-width) {
    display: grid;
    justify-content: space-between;
    padding: 0 0 75px;

    grid-template-columns: 436px 560px;

  }
}

.example__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 0;

    width: 100vw;
    height: 1px;

    background-color: #e6e6e6;
    box-shadow: 100vw 0 0 #e6e6e6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}


.example__title {
  margin-bottom: 40px;

  @media (min-width:$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 146px;
  }
}


.example__content {
  margin: var(--margin-reset);
  margin-bottom: 20px;

  @media (min-width:$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 69px;
  }

}

.example__results-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__results {
  margin-bottom: 20px;

  border: var(--border-line);
}


.example__cost {
  margin: var(--margin-reset);
  padding-top: 20px;

  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    width: 174px;
    padding-top: 11px;

    font-size: 20px;
    text-align: right;
  }
}

.example__cost--value {
  margin-top: 9px;
}

// .example__slider {}
