.field {
  width: 100%;
  padding: 13px 14px;

  font-family: $secondary-font;
  color: $base-color-text;
  text-transform: uppercase;

  border: 1px solid $input-border-color;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $base-color-text;
  }

  &:hover {
    border: var(--border-line);
    outline: none;
  }

  &:focus {
    border: 2px solid $base-color-text;
    outline: none;
  }

  &--error,
  &--error:hover,
  &--error:focus {
    border: 2px solid $input-error;
    outline: none;
  }
}
