.field {
  width: 100%;
  padding: 13px 33px 13px 14px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-text;
  text-transform: uppercase;

  border: 1px solid $input-border-color;

  @media (min-width: $tablet-width) {
    padding: 11px 35px 11px 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $base-color-text;

    opacity: 1;
  }

  &:hover {
    border: var(--border-line);
    outline: none;
  }

  &:focus {
    border-color: $base-color-text;
    outline: none;
    box-shadow: 0 0 0 1px $base-color-text;
  }

  // состояние ошибки для инпута
  &--error,
  &--error:hover,
  &--error:focus {
    border-color: $input-error;
    outline: none;
    box-shadow: 0 0 0 1px $input-error;
  }
}
