.footer {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-width: 708px;
  }
}

.footer__container {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-extra;

}

.footer__logo {
  justify-content: center;
  margin-bottom: 20px;
}

// .footer__social {}

// .footer__copyright {}
