.footer {
  padding: 40px 0;

  background-color: $bg-extra;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0;

  }
}


.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

// .footer__social {}

// .footer__copyright {}
