.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;

    column-gap: 80px;

    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 0;
  }
}

.form__group--cat {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form__group--radio {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.form__group--owner .form__legend {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
  }
}

.form__group--owner .form__list {
  @media (min-width: $desktop-width) {
    column-gap: 80px;

    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group--comment .form__legend {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.form__group--checkbox {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__group--checkbox .form__legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__group--submit {
  display: grid;
  margin: 0;

  row-gap: 15px;

  @media (min-width: $tablet-width) {
    column-gap: 60px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.form__list {
  display: grid;

  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }
}

.form__item {
  display: grid;
  align-items: center;

  gap: 5px 13px;
  grid-template-columns: max-content 1fr;
}

.form__label {
  text-transform: uppercase;
}

// убирает стрелочки с числовых инпутов
.form__input[type="number"] {
  appearance: textfield;
}

.form__legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__input-container {
  position: relative;

  display: flex;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;

    width: 20px;
    height: 20px;

    background-color: $special-dark-grey;
    transform: translate(0, -50%);

    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px;
  }

  &--email {
    &::after {
      mask-image: url("../../images/icons/stack.svg#email");
    }
  }

  &--tel {
    &::after {
      mask-image: url("../../images/icons/stack.svg#phone");
    }
  }

  &:hover {
    &::after {
      background-color: $special-dark-grey;
    }
  }

  &:focus-within {
    &::after {
      background-color: $bg-basic;
    }
  }

  // перекрашивает иконки при некорректном значении инпута
  &:has(.field--error) {
    &::after {
      background-color: $input-error;
    }
  }
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
  }
}

.form__button {
  border: none;

  @media (min-width: $tablet-width) {
    padding: 15px;

    font-size: 20px;
    line-height: 26px;
  }
}

.form__note {
  margin: 0;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    align-self: center;

    font-size: 16px;

    justify-self: start;
  }
}
