.hero {
  margin-bottom: 20px;

  font-family: $secondary-font;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 0;
    padding: 0 30px 0;

    text-align: left;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    margin: 0 0 82px 90px;
    padding-top: 29px;
    padding-bottom: 52px;

    grid-template-columns: auto 1fr;
  }
}

.hero__container {
  min-height: 302px;
  padding: 27px 20px 100px;

  background-image: linear-gradient(rgba($bg-cats, 85%), rgba($bg-cats, 85%)), image-set(url("../../images/main-cat-mobile@1x.jpg") type("image/jpeg") 1x, url("../../images/main-cat-mobile@2x.jpg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 65px 90px 0;

    background-image: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 62px 0;
  }
}

.hero__title {
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    line-height: 36px;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.hero__text {
  margin: var(--margin-reset);

  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
  }
}

.hero__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0 0 0 90px;
    padding: 14px;

    font-size: 20px;
    line-height: 26px;

    grid-row: 2;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 62px;
  }
}

.hero__image {
  width: 280px;
  height: 270px;
  margin: -134px auto 0;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin: 0 auto;
    margin-top: -81px;
  }

  @media (min-width: $desktop-width) {
    order: unset;
    width: 552px;
    height: 499px;
    margin: 0 0 0 -100px;

    grid-column: -2 / -1;
    grid-row: 1 / 4;
  }
}

.hero__image img {
  display: block;
}
