.main-header {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

// .main-header__container {}

// .main-header__menu {
//   display: grid;
//   padding: 13px 0 14px 0;

//   // @media (min-width: $tablet-width) {
//   //   flex-direction: row;
//   // }
// }

.main-header__menu {
  position: relative;
}


.main-header__toggle {
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation {


  width: auto;

}
