.main-header {
  padding: 10px 15px;

  color: #ffffff;

  background-color: #663399;
}

// .main-header__container {

// }

// .main-header__menu {}

// .main-header__logo {}

// .main-header__toggle {}

// .main-header__navigation {}
