.main-header {
  position: relative;

  &--index::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;

      width: 50%;
      height: 100%;

      background-image: linear-gradient(rgba($bg-cats, 85%), rgba($bg-cats, 85%)), image-set(url("../../images/main-cat-desktop@1x.jpg") type("image/jpeg") 1x, url("../../images/main-cat-desktop@2x.jpg") type("image/jpeg") 2x);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: cover;
    }
  }
}

.main-header__container {
  margin-bottom: 20px;
}


.main-header__menu {
  position: relative;

  padding-top: 13px;

  border-bottom: var(--border-bottom);

  @media (min-width:$tablet-width) {
    display: grid;
    align-items: start;
    padding-top: 25px;

    grid-template-columns: 174px 1fr;
    justify-items: end;
  }

  @media (min-width:$desktop-width) {
    padding-top: 55px;

    grid-template-columns: 174px 1fr;
    justify-items: end;
  }
}

.main-header__toggle {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;

  width: 24px;
  height: 24px;

  background-color: $white;
  background-image: url(../../images/icons/stack.svg#close-button);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
