.navigation {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;

  --border-line: 1px solid #e6e6e6;
}

.navigation__list {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-self: start;
    width: 440px;

    @media (min-width: $desktop-width) {
      width: 480px;
    }
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  padding: 22px 0 24px;

  border-top: var(--border-line);

  @media (min-width:$tablet-width) {
    padding: 14px 0 12px;

    border: none;
  }

  @media (min-width:$desktop-width) {
    padding: 16px 0 13px;
  }
}

.navigation__link {
  position: relative;

  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--current {
      text-decoration: underline;

      text-decoration-color: $bg-basic;
      text-decoration-thickness: 2px;
      text-underline-offset: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    color: $white;

    &--current {
      text-decoration-color: $white;
      text-underline-offset: 8px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 42px;

    width: 100vw;
    height: 1px;

    background-color: #e6e6e6;
    box-shadow: 100vw 0 0 #e6e6e6;
  }
}
