// .navigation {}

// .navigation__list {}


@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 610px;
  }
}

// .navigation__item {}

.navigation__link {
  display: inline-block;

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

// .navigation__link--current {}
