.program-option {
  padding: 30px 20px 21px;

  background-color: $bg-extra;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 75px 270px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.program-option--slim {
  background-image: url("../../images/icons/stack.svg#cat-slim");
  background-position: top 24px left 20px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: top 81px right 63px;
    background-size: 200px 204px;
  }

  @media (min-width: $desktop-width) {
    background-position: top 41px left 52px;
    background-size: 100px 106px;
  }
}

.program-option--pro {
  background-image: url("../../images/icons/stack.svg#cat-pro");
  background-position: top 24px left 13px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: top 91px right 29px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: top 47px left 33px;
    background-size: 134px 100px;
  }
}

.program-option__title {
  margin: 0;
  padding: 0 0 29px 70px;

  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 0 22px 0;

    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 73px 162px;
  }
}

.program-option__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 0;
    padding-bottom: 53px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    padding-bottom: 27px;
  }
}

.program-option__link {
  display: flex;
  width: fit-content;

  font-size: 16px;
  line-height: 16px;
  font-family: $secondary-font;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  gap: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    gap: 25px;
  }

  &::after {
    content: "";

    align-self: center;
    width: 32px;
    height: 12px;

    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-position: -8px center;
  }

  &:hover::after {
    background-position: 0;

    transition: background-position 0.3s ease-out;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}
