// .program-choice {}

// .program-choice__container {}

// .program-choice__title {}

.program-choice__info {
  font-family: $secondary-font;
  color: #000000;
  text-transform: uppercase;
}

// .program-choice__form {}
