// .program-choice {}

// .program-choice__container {
//   @media (min-width: $tablet-width) {
//     padding-bottom: 60px;
//   }
// }

.program-choice__title {
  margin-bottom: 37px;
  padding-top: 27px;

  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding-top: 77px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-top: 74px;
    padding-left: 0;
  }
}

.program-choice__info {
  margin: 0;
  margin-bottom: 39px;
  padding-right: 7px;

  font-family: $secondary-font;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 397px;
    margin-bottom: 62px;
    // padding-right: 278px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.program-choice__form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}
