.program-option {
  background-repeat: no-repeat;
}

.program-option__title {
  margin: 0;

  line-height: 37px;
  text-transform: uppercase;
}

// .program-option__description {}

.program-option__link {
  display: inline-block;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../../images/icons/stack.svg#arrow");
}

.program-option--slim {
  background-image: url("../../images/icons/stack.svg#cat-slim");
  background-size: 50px 53px;

}

.program-option--pro {
  background-image: url("../../images/icons/stack.svg#cat-pro");
  background-size: 67px 50px;
}
