// .program-choice {}

// .program-choice__container {}

// .program-choice__title {}

.program-choice__info {
  font-family: $secondary-font;
  color: $black;
  text-transform: uppercase;
}

// .program-choice__form {}
