.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 160px;

  border-top: var(--border-line);
  border-bottom: var(--border-line);

  gap: 4px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__item {
  padding: 10px;

  @media (min-width: $tablet-width) {
    padding: 7px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  text-decoration: none;

  background-color: $special-grey;

  mask-position: center;
  mask-repeat: no-repeat;

  &--vkontakte {
    mask-image: url("../../images/icons/stack.svg#vk");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#youtube");
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#telegram");
  }

  &:hover,
  &:focus {
    background-color: $bg-basic;
  }

  &:active {
    opacity: 0.3;
  }
}
