.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 132px;

  border-top: var(--border-line);
  border-bottom: var(--border-line);

  --border-line: 1px solid #cdcdcd;
  gap: 4px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.social__item {
  padding: 10px;

  @media (min-width: $tablet-width) {
    padding: 7px;
  }
}

.social__link {
  display: flex;
  width: 28px;
  height: 22px;

  text-decoration: none;

  background-color: #666666;

  mask-position: center;
  mask-repeat: no-repeat;
}

.social__link--vkontakte {
  mask-image: url("../../images/icons/stack.svg#vk");
}

.social__link--youtube {
  mask-image: url("../../images/icons/stack.svg#youtube");
}

.social__link--telegram {
  mask-image: url("../../images/icons/stack.svg#telegram");
}
